.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
    width: 32%;
    padding: 20px 0px 32px 0px;
    border-radius: 8px;
}
.login__header{
    width:100%;
    margin-bottom: 20px;
}
.login__title{
    color: #17252A;
    font-weight: 300;
    margin-bottom: 0;
}
.login__subtitle{
    color: gray;
    margin-top: 0;
    font-size: 16px;
}
.login__main{
    width:80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.login__form{
    width:100%;
}
.login__input-group{
    width:100%;
    position: relative;
    margin-bottom: 20px;
}
.login__icon{
    position: absolute;
    top: 10px;
    left:10px;
    color: #3AAfA9;
}
.login__input{
    padding: 12px 0px 12px 32px;
    width: 92%;
    border-radius: 8px;
    border: none;
    border: 1px solid ghostwhite;
}
.login__input::placeholder{
    color: #2B7A7B;
}
.login__btn{
    background-color: #3AAfA9;
    color:white;
    border: none;
    border-radius: 8px;
    width: 100%;
    font-weight: bold;
    padding: 12px 8px;
}